* {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

a {
  color: var(--primary-500);
  text-decoration: none;
  transition: color 0.1s ease-in-out;
  font-weight: 500;
  &:hover {
    color: var(--primary-700);
  }
}

button,
input[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  background-color: var(--primary-500);
  color: var(--primary-50);
  padding: $unit0 $unit2;
  border-radius: $unit0; // Slightly rounded corners for a softer look
  font-weight: 500; // A bit bolder for emphasis
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  // align with icons
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $unit1;

  &:hover {
    background-color: var(--primary-600);
    transform: translateY(-2px); // A slight lift on hover
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(0); // Return to the original position on click
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &.humble {
    background-color: var(--gray-100);
    color: var(--color-text);
    &:hover {
      background-color: var(--color-bg-hover-intense);
    }
  }
}

.secondary {
  color: var(--gray-500);
}

.errors {
  margin-bottom: $unit3;
  background-color: var(--color-error);
  color: #fff;
  padding: $unit1 $unit2;
  border-radius: $unit0;
  div {
    color: #fff;
  }
}

.form-group {
  margin-bottom: $unit3;
  label {
    color: var(--color-secondary);
    display: block;
    margin-bottom: $unit0;
    cursor: pointer;
  }
  &.inline {
    display: flex;
    align-items: center;
    label {
      margin-bottom: 0;
    }
    input[type="checkbox"] {
      margin-right: $unit1;
    }
  }

  &.checkbox {
    display: flex;
    align-items: center;
    label {
      margin-bottom: 0;
    }
    input[type="checkbox"] {
      margin-right: $unit1;
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: $unit2;
  border: 1px solid var(--color-table-border);
  border-radius: $unit0;
  font-size: $text1;
  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }
}

.ellipsis {
  white-space: pre-wrap;
}
