@import "./reset.css";
@import "./vars.scss";
@import "./elements.scss";
@import "./table.scss";
@import "./spinner.scss";

body {
  background-color: var(--color-bg);
}

.container {
  width: 100%;
  padding: 0 $unit4;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  nav.sidebar {
    width: $unit11;
    background-color: var(--color-sidebar-bg);
    border-right: 1px solid var(--color-table-border);
    color: var(--color-sidebar-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: $unit4;

    a.navlink {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: $unit2 $unit4;
      transition: background-color 0.1s ease-in-out;
      color: var(--color-sidebar-text);
      font-size: $text1;
      line-height: 143%;

      &:hover {
        background-color: var(--color-sidebar-bg-hover);
      }

      &.active {
        background-color: var(--color-sidebar-bg-hover-intense);
        color: var(--color-sidebar-text-hover);
        border-left: $unit0 solid var(--color-sidebar-accent);
        padding: $unit2 calc($unit4 - $unit0);
      }

      svg {
        font-size: $text2;
        fill: var(--color-sidebar-text);
        margin-right: $unit0;
      }
    }

    header {
      margin-bottom: $unit3;
      h1 {
        font-size: $text3;
        margin-bottom: $unit1;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-sidebar-text);
      }
    }

    h2 {
      font-size: 10px;
      text-transform: uppercase;
      color: var(--color-sidebar-text-secondary);
      margin: $unit3 $unit4 $unit0;
      font-family: "Roboto", sans-serif;
      display: flex;
      align-items: center;

      svg {
        fill: var(--color-sidebar-text-secondary);
        margin-right: $unit1;
      }
    }

    .domain-picker-dropdown {
      margin: 0 $unit4 $unit3;
      .dropdown-header {
        background-color: var(--color-sidebar-bg-hover);
        border: 0;
        color: var(--color-sidebar-text);
      }
      .triangle-icon {
        color: var(--color-sidebar-text);
      }
      .dropdown-list {
        border: 0;
        background-color: var(--color-sidebar-bg-hover);
        li {
          color: var(--color-sidebar-text);
          &:hover {
            background-color: var(--color-sidebar-bg-hover-intense);
          }
        }
      }
    }

    .add-website {
      text-align: center;
      margin-top: $unit3;
      a {
        font-size: $text1;
        color: var(--color-sidebar-text-secondary);
        text-decoration: none;
        display: inline-block;
        padding: $unit1 $unit2;
        border-radius: 4px;
        transition: background-color 0.1s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          fill: var(--color-sidebar-text-secondary);
          font-size: $text3;
          margin-right: $unit0;
        }
        &:hover {
          background-color: var(--color-sidebar-bg-hover);
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $unit3;
      img {
        width: 100%;
        max-width: $unit12;
      }
    }

    .menu {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: $unit2;
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--color-secondary);
            &:hover {
              color: var(--color-text);
            }
            svg {
              margin-right: $unit2;
            }
          }
        }
      }
    }
  }

  main {
    // padding: $unit4 0;
    flex: 1;
    overflow-y: auto;
  }
}

.details-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease-in-out;
  svg {
    margin-left: $unit1;
    fill: var(--color-primary);
    font-size: $text3;
    transition: fill 0.1s ease-in-out;
  }
  &:hover {
    color: var(--color-primary-hover);
    svg {
      fill: var(--color-primary-hover);
    }
  }
}

.card {
  box-shadow: rgba(56, 65, 74, 0.1) 0px 3px 3px 0px;
  background-color: #fff;
}

.no-data {
  margin-top: $unit4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100;
  font-size: $text2;
  color: var(--color-secondary);
}

.agg-reports,
.all-reports {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;

  .filters {
    width: $unit10;
    height: 100%;
    margin: 0;
    flex-shrink: 0;
    padding: $unit4 $unit2;
    background-color: var(--color-bg-hover);
    // border-radius: $unit1;

    .filter {
      margin-bottom: $unit4;

      &.checkbox {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        label {
          margin-bottom: 0;
          margin-left: $unit0;
        }
      }

      label {
        color: var(--color-filters-secondary);
        display: flex;
        align-items: center;
        margin-bottom: $unit0;
        cursor: pointer;
        font-size: $text1;
        svg {
          margin-right: $unit1;
          fill: var(--color-filters-secondary);
          font-size: $text2;
        }
      }

      .dropdown {
        .dropdown-header {
          background-color: var(--gray-200);
          border: 0;
          color: var(--color-text);
          font-size: $text1;
        }

        .dropdown-list {
          background-color: var(--color-bg-hover);
        }

        .dropdown-list li {
          padding: $unit2 $unit2;
          cursor: pointer;
          font-size: $text1;
        }

        .dropdown-list li:hover {
          background-color: var(--color-bg-hover-intense);
        }
      }

      input[type="text"] {
        width: 100%;
        padding: $unit1;
        border-radius: $unit0;
        border: 1px solid var(--color-table-border);
        background-color: var(--gray-200);
        color: var(--color-text);
        font-size: $text1;
        &:focus {
          outline: none;
          border-color: var(--color-primary);
        }
      }

      textarea {
        width: 100%;
        padding: $unit1;
        border-radius: $unit0;
        border: 1px solid var(--color-table-border);
        background-color: var(--gray-200);
        color: var(--color-text);
        font-size: $text1;
        height: $unit9;
        resize: vertical;
        &:focus {
          outline: none;
          border-color: var(--color-primary);
        }
      }
    }
  }

  .data-view {
    flex-shrink: 1;
    flex-grow: 1;
    overflow-x: auto;
    padding: $unit4 $unit3;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .agg-item {
      background-color: #fff;
      padding: $unit3;
      box-shadow: rgba(56, 65, 74, 0.1) 0px 3px 3px 0px;
      margin-bottom: $unit3;
      border-radius: $unit0;

      .params {
        .params-head {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .left,
          .right {
            display: flex;
            align-items: center;
          }

          .params-item:not(:last-child) {
            margin-right: $unit4;
          }
        }
        .params-item {
          margin-bottom: $unit2;
          font-size: $text1;
          .param-name {
            font-size: $text0;
            color: var(--color-secondary);
          }
        }
      }
    }

    .table-view {
      overflow-y: auto;
      flex: 1;
    }
  }

  .pagination {
    margin-top: $unit4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.disposition-badge {
  display: inline-block;
  font-size: $text1;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--warning-500);
  &.enforce {
    color: var(--success-500);
  }
}

.add-website-page {
  h1 {
    margin-bottom: $unit3;
  }

  .website-form {
    width: 100%;
    max-width: $unit13;
    margin: 0 auto;
    padding: $unit4 0;
  }

  .hint {
    margin-top: $unit1;
    margin-bottom: $unit3;
    color: var(--color-secondary);
    font-size: $text1;
    code {
      background-color: var(--color-bg-hover);
      padding: $unit0 $unit1;
      border-radius: $unit0;
      color: var(--color-secondary);
    }
  }
}

.website-edit-page {
  background-color: var(--gray-200);
  .container {
    max-width: $unit15;
    margin: 0 auto;
  }

  .instructions-block {
    margin-top: $unit3;
    background-color: #fff;
    padding: $unit3;
    border-radius: $unit0;
    border: 1px solid var(--color-table-border);
  }

  .i2 {
    margin-top: $unit5;
    h2 {
      text-align: center;
    }
    p {
      margin-top: $unit3;
    }

    pre {
      background-color: var(--color-bg-hover);
      padding: $unit3;
      color: var(--color-secondary);
      background-color: #fff;
      border-radius: $unit0;
      border: 1px solid var(--color-table-border);
    }
  }
}

.domain-page {
  h1 {
    margin-bottom: $unit3;
  }
  .domain-body {
    height: 100%;
  }
}

.login-page,
.signup-page {
  h2 {
    text-align: center;
    margin-bottom: $unit3;
  }
  padding: $unit4;
  border-radius: $unit0;
  background-color: #fff;
  max-width: $unit12;
  margin: $unit4 auto;
  border: 1px solid var(--color-table-border);

  .links {
    margin-top: $unit3;
    text-align: center;
  }

  input[type="submit"] {
    width: 100%;
  }
}

.action-link {
  display: inline-flex;
  align-items: center;
  svg {
    margin-left: $unit0;
    fill: var(--color-primary);
  }
}

.report-details {
  position: relative;
  background-color: var(--gray-200);
  margin: 0 $unit3;
  border-radius: $unit1;

  .report-details-raw {
    padding: $unit4;
    white-space: pre-wrap;
    font-size: $text1;
    line-height: 1.8;
  }

  .report-view-switch {
    position: absolute;
    top: $unit2;
    right: $unit2;
    padding: $unit0 $unit2;
    font-size: $text0;
    z-index: 2;
    svg {
      font-size: $text2;
    }
  }

  .report-details-body {
    border-radius: $unit0;
    padding: $unit3;
    display: flex;

    .report-details-ua {
      width: $unit11;
    }

    .report-details-info {
      margin-left: $unit5;
      flex: 1;
    }

    h3 {
      margin-bottom: $unit3;
      font-size: $text0;
      text-transform: uppercase;
      background-color: var(--primary-100);
      color: var(--primary-500);
      padding: $unit0 $unit2;
      border-radius: $unit0;
      display: inline-block;
      font-weight: 500;
    }

    .report-details-item {
      display: flex;
      align-items: center;
      margin-bottom: $unit2;

      .report-details-item-label {
        color: var(--gray-700);
        display: block;
        font-size: $text1;
        margin-right: $unit2;
        width: $unit9;
        font-weight: 100;
      }

      .report-details-item-value {
        flex: 1;
      }
    }
  }
}

.home-page {
  padding: $unit4;
  h1 {
    margin-bottom: $unit3;
  }

  .domain-list {
    display: flex;
    flex-wrap: wrap;
    gap: $unit3;
    flex-direction: column;
    a.domain {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: $unit4;
      border-radius: $unit1;
      background-color: var(--gray-200);
      cursor: pointer;
      box-shadow: rgba(56, 65, 74, 0.1) 0px 3px 3px 0px;
      width: $unit14;
      height: $unit5;
      transition: background-color 0.1s ease-in-out;
      margin-bottom: 0;
      &:hover {
        background-color: var(--gray-300);
      }
      .domain-host {
        font-size: $text4;
        margin-bottom: 0;
        color: var(--gray-800);
      }
      .reports-count {
        font-size: $text2;
        color: var(--gray-600);
      }
    }

    a.add-domain {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: $unit1;
      margin-right: $unit3;
      margin-bottom: $unit3;
      padding: $unit2;
      border-radius: $unit0;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      font-size: $text4;
      text-transform: uppercase;
      color: var(--gray-400);
      &:hover {
        color: var(--gray-500);
      }
      svg {
        fill: var(--gray-400);
      }
    }
  }
}

.flash {
  padding: $unit2 $unit3;
  margin-bottom: $unit3;
  border-radius: $unit0;

  &.notice {
    background-color: var(--color-bg);
    color: var(--color-secondary);
  }

  &.alert {
    background-color: var(--color-error);
    color: #fff;
  }
}

.dropdown {
  width: 100%;
  position: relative;

  &.open {
    .dropdown-list {
      transform: scaleY(1);
    }

    .dropdown-header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .dropdown-header {
    background-color: white;
    border: 1px solid #ccc;
    padding: $unit1 $unit2;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $text1;
    border-radius: $unit0;
  }

  .dropdown-list {
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
    background-color: white;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease-in-out;
    display: block;
    border-bottom-left-radius: $unit0;
    border-bottom-right-radius: $unit0;
  }

  .triangle-icon {
    font-size: $text0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-list li {
    padding: $unit2 $unit2;
    cursor: pointer;
    font-size: $text1;
  }

  .dropdown-list li:hover {
    background-color: #e6e6e6;
  }
}

.report-chart {
  margin-bottom: $unit4;
  margin-right: $unit3;
  position: relative;

  canvas {
    width: 100%;
    max-height: $unit11;
  }

  .toggle-show-btn {
    position: absolute;
    top: $unit1;
    right: $unit1;
    padding: $unit0 $unit1;
    font-size: $text0;
    color: var(--color-secondary);
    svg {
      font-size: $text2;
      fill: var(--color-secondary);
    }
  }

  &.hidden {
    margin-bottom: 0;
    .canvas-wrapper {
      display: none;
    }
  }
}
