.nice-table {
  display: grid;
  border: 1px solid var(--color-table-border);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: $radius-lg;
  font-size: $text1;
  background-color: #fff;
  max-width: 100%;
  overflow: hidden;
  grid-auto-rows: min-content;
  box-shadow: var(--shadow-sm);

  .cell {
    padding: $unit2 $unit3;
    border-bottom: 1px solid var(--color-table-border);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--gray-700);

    &.align-right {
      text-align: right;
    }

    &.align-center {
      text-align: center;
    }

    &.align-left {
      text-align: left;
    }

    .secondary {
      color: var(--gray-400);
    }
  }

  > .row {
    transition: background-color 0.1s ease-in-out;
    &:hover {
      .cell {
        background-color: var(--color-table-row-hover);
      }
    }

    &:last-child,
    &.expanded {
      .cell {
        border-bottom: none;
      }
    }

    &.expanded {
      background-color: var(--color-table-row-hover);
      &:hover {
        background-color: var(--color-table-row-hover);
      }
    }
  }

  .header {
    .row {
      text-align: left;
    }

    .cell {
      display: table-cell;
      vertical-align: inherit;
      padding: $unit2 $unit3;
      background-color: var(--color-table-header);
      color: var(--gray-500);
      font-weight: 600;
      font-size: $text0;
      text-transform: uppercase;
      letter-spacing: 0.04em;
    }
  }

  .expanded-view {
    padding: $unit2 0;
    background-color: var(--color-table-row-hover);
    // goes for the whole row
    grid-column-start: 1;
    grid-column-end: 6;

    &:hover {
      background-color: var(--color-table-row-hover);
    }
  }
}

.header,
.row {
  display: contents;
}

.row:last-child .cell {
  border-bottom: 0;
}
