@use "../vars.scss";

.login-page,
.signup-page {
  h2 {
    text-align: center;
    margin-bottom: vars.$unit4;
  }
  padding: vars.$unit5;
  border-radius: vars.$radius-lg;
  background-color: #fff;
  max-width: vars.$unit12;
  margin: vars.$unit6 auto;
  border: 1px solid var(--color-table-border);
  box-shadow: var(--shadow-md);

  .links {
    margin-top: vars.$unit3;
    text-align: center;
  }

  input[type="submit"] {
    width: 100%;
  }
}
